<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
            crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container"> 
        <h1 class="mx-auto" style="color: black;">Patient's Profile</h1>
        <div class="row">
            <div class="col-sm-6">
                <!-- Patient profile name to dob -->
                <div class="row">
                    <div class="col-sm-6">
                        <p style="color: black;">Name: <%= name %></p>
                    </div>
                    <div class="col-sm-6">
                        <p style="color: black;">IC Number: </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p style="color: black;">Date of Birth: </p>
                    </div>
                </div>
                <!-- ./Patient profile name to dob -->

                <hr>

                <!-- Contact -->
                <div class="row">
                    <div class="col-sm-6">
                        <p style="color: black;">Contact Number: <%= contact_1 %>  </p>
                    </div>
                    <div class="col-sm-6">
                        <p style="color: black;">Additional Contact Number: <%= contact_2 %> </p>
                    </div>
                </div>
                <!-- ./ Contact -->

                <hr>

                <!-- Address -->
                <div class="row">
                    <div class="col-sm-12">
                        <p style="color: black;">Address:</p>
                        <p style="color: black;"><%= house_Number %>, Simpang <%= simpang %>, Jalan <%= jalan %>, Kampong <%= kampong%></p>
                    </div>
                </div>
                <!-- ./ Address -->

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h2 style="color: black;">MOH</h2>

                        <p></p>
                        <p></p>

                        <p style="color: black;"><%= bruhims %></p>
                        <p style="color: black;"><%= pay_MOH %></p>

                        <a class="btn text-nowrap btn-info" id="" title="" role="button" href="/mohorder">Order</a> 


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>